<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <br />
                <h1 class="font-weight-bold">ABOUT US</h1>
                <br />
            </div>
            <div class="col-lg-8"></div>
        </div>
        <div class="container">
            <h2>OUR MISSION</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi id
                <br />
                modi hic. Perferendis aut excepturi perspiciatis explicabo minus in
                <br />
                quos maxime officia ab consequuntur unde, qui eius esse nobis facilis.
                <br />
            </p>
        </div>
        <div class="container">
            <h2>THE TEAM</h2>

            <div class="row">
                <div class="col-sm-1"></div>

                <img src="..." alt="..." class="img-thumbnail col-md-2" />
                <img src="..." alt="..." class="img-thumbnail col-md-2" />
                <img src="..." alt="..." class="img-thumbnail col-md-2" />
                <img src="..." alt="..." class="img-thumbnail col-md-2" />
                <img src="..." alt="..." class="img-thumbnail col-md-2" />
                <div class="col-sm-1"></div>
            </div>
            <br />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                <br />
                ipsum expedita, molestiae, voluptas quibusdam eius iusto in id rem,
                <br />
                unde deserunt nam error blanditiis molestias non voluptate. Culpa,
                <br />
                eum libero?
            </p>
        </div>
    </div>
</div>