{{!-- BOOTSTRAP CLEANED UP --}}

{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/about.css">

{{!-- Navbar --}}
<div id="background"></div>

<div id="background"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>ABOUT US</h1>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <h2 class="flash">OUR MISSION</h2>

            <hr>
        </div>
    </div>
    <div class="row d-flex justify-content-md-center">
        <div class="col-md-9">
            <p>
                Something Borrowed and Something Lent's goal is to start the trend of encouraging others to be a
                friendly neighbor by lending and borrowing home items without any charge. Based in New York City, we all
                don't have that many friendly neighbors, whether if you are in NYC, Philly, Cali or wherever, Don’t you
                wish today times life could be simpler where you could go and borrow sugar, a hair dryer, or a blender
                from your neighbor without being awkward? Our mission is to build up and bring together our community by
                helping each one out. Not only can you find things like sugar from this web application but everyday
                things such as tools,
                furniture, appliances, etc. You can also contribute and lend things out too! Let’s help each other,
                right neighbor?


            </p>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">

            <h2>THE TEAM</h2>
            <hr>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="card col-md-2" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/eleonore-chevillion.png" alt="eleonore-chevillion">
            <div class="card-body">
                <h5 class="card-title">Eleonore Chevillion</h5>

            </div>
            <a href="https://www.linkedin.com/in/el%C3%A9onore-chevillion-42705577/"><i class="fab fa-linkedin"></i></a>

        </div>
        <div class="card col-md-2" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/emma-bixler.jpg" alt="emma-bixler">
            <div class="card-body">
                <h5 class="card-title">Emma Bixler</h5>
            </div>
            <a href="https://www.linkedin.com/in/emma-bixler-73a91b92/"><i class="fab fa-linkedin"></i></a>

        </div>
        <div class="card col-md-2" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/somat.png" alt="somat-thakali">
            <div class="card-body">
                <h5 class="card-title">Somat Thakali</h5>
            </div>
            <a href="https://www.linkedin.com/in/somat-thakali/"><i class="fab fa-linkedin"></i></a>

        </div>
        <div class="card col-md-2" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/natasha-moore.jpg" alt="natasha-moore">
            <div class="card-body">
                <h5 class="card-title">Natasha Moore</h5>
            </div>
            <a href="https://www.linkedin.com/in/natasha-moore-profile/"><i class="fab fa-linkedin"></i></a>

        </div>
        <div class="card col-md-2" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/rachael-tseng.jpg" alt="rachael-tseng">
            <div class="card-body">
                <h5 class="card-title">Rachael Tseng</h5>
            </div>
            <a href="https://www.linkedin.com/in/rachael-ho-jung-tseng/"><i class="fab fa-linkedin"></i></a>

        </div>
    </div>

    <br />

    <div class="row d-flex justify-content-md-center">
        <div class="col-md-9">
            <p>
                {{!-- Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatibus distinctio blanditiis ipsam labore temporibus placeat rerum,
                excepturi, porro, dolores architecto ipsa? Dolor enim inventore distinctio
                consectetur commodi illum voluptatibus consequuntur labore harum totam, earum
                aperiam cupiditate velit officia nesciunt obcaecati omnis praesentium pariatur
                nihil eos expedita, et sunt ab hic! Incidunt et quidem reprehenderit officia soluta excepturi,
                sunt eligendi cupiditate ea distinctio ab? --}}
            </p>
        </div>
    </div>

</div>