{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/checkout.css">

{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboards">My Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lending">Lending</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/borrowing">Borrowing<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<h1>BORROWING</h1>
<p>Search items(s) available in your neighborhood</p>
<button onclick="goBack()">Back to Results</button>
<div class="container">

    <h2>ITEM NAME</h2>
    <h3>Item Details:</h3>
    <ul class="no bull list-group list-group-flush" style="list-style: none;">
        <li class="list-group-item">Item Category:</li>
        <li class="list-group-item">Item Name:</li>
        <li class="list-group-item">Amount:</li>
        <li class="list-group-item">Description:</li>
        <li class="list-group-item">Days Available:</li>
        <li class="list-group-item">Lender:</li>

    </ul>

    </br>
    <button type="button" class="btn btn-primary">Borrow</button>


    <p>Are you sure?</p>
    <br>
    <input class="btn btn-primary" type="submit" value="Yes">
    <input class="btn btn-primary" type="submit" value="No">
    <br>
    <p>Great! An email confirmation is sent to you.</p>
</div>