<h1>BORROWING</h1>
<p>Search items(s) available in your neighborhood</p>
<button onclick="goBack()">Back to Results</button>
<div class="container">

    <h2>ITEM NAME</h2>
    <h3>Item Details:</h3>
    <ul class="no bull list-group list-group-flush" style="list-style: none;">
        <li class="list-group-item">Item Category:</li>
        <li class="list-group-item">Item Name:</li>
        <li class="list-group-item">Amount:</li>
        <li class="list-group-item">Description:</li>
        <li class="list-group-item">Days Available:</li>
        <li class="list-group-item">Lender:</li>

    </ul>

    </br>
    <button type="button" class="btn btn-primary">Borrow</button>


    <p>Are you sure?</p>
    <br>
    <input class="btn btn-primary" type="submit" value="Yes">
    <input class="btn btn-primary" type="submit" value="No">
    <br>
    <p>Great! An email confirmation is sent to you.</p>
</div>