{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <br />
                <h1 class="font-weight-bold">CONTACT US</h1>
                <br />
            </div>
            <div class="col-lg-8"></div>
        </div>
        <form class="form" id="contactForm" action="/contactSubmission" method="post">
            <div class="form-group">
                <label for="messageCat" class="font-weight-bold">Message category</label>
                <select class="form-control text-center" id="messageCat">
                    <option value="" disabled selected value> -- select an option -- </option>

                    <option value="Comments">Comments</option>
                    <option value="Review">Review</option>
                    <option value="Troubles">Troubles</option>
                </select>
            </div>
            <div class="form-group">
                <label for="nameInput" class="font-weight-bold">Name</label>
                <input type="name" class="form-control" id="nameInput" placeholder="First Name + Last Name" />
            </div>
            <div class="form-group">
                <label for="emailInput" class="font-weight-bold">Email address</label>
                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" />
            </div>

            <div class="form-group">
                <label for="messageArea" class="font-weight-bold">Your Message</label>
                <textarea class="form-control" id="messageInput" rows="5"></textarea>
            </div>
            <button id="submit" class="btn btn-secondary font-weight-bold">
                Submit
            </button>
        </form>

    </div>
</div>
<script>



    $("#contactForm").submit(function (e) {
        var messageCat = $("#messageCat").val();
        var name = $("#nameInput").val();
        var email = $("#emailInput").val();
        var message = $("#messageInput").val();
        var data = { "messageCat": messageCat, "name": name, "email": email, "message": message };
        e.preventDefault();
        $.ajax({
            url: "/contactSubmission",
            data: data,
            type: "post",
            success: function () {
                alert("success");
            }

        });
    });
</script>