{{!-- BOOTSTRAP CLEANED UP --}}
{{!-- JavaScript at bottom of page to be reviewed --}}

{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/about.css">

{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>CONTACT US</h1>
        </div>
    </div>

    <br />

    <div class="row d-flex justify-content-md-center">
        <div class="col-md-9">
            <form class="form" id="contactForm" action="/contactSubmission" method="post">
                <div class="form-group">
                    <label for="nameInput" class="font-weight-bold">NAME:</label>
                    <input type="name" class="form-control text-center" id="nameInput" placeholder="Name" />
                </div>
                <div class="form-group">
                    <label for="emailInput" class="font-weight-bold">EMAIL ADDRESS:</label>
                    <input type="email" class="form-control text-center" id="emailInput"
                        placeholder="User@example.com" />
                </div>

                <div class="form-group">
                    <label for="messageArea" class="font-weight-bold">MESSAGE:</label>
                    <textarea class="form-control text-center" id="messageInput" rows="5"
                        placeholder="Questions, comments, or any feedback..."></textarea>
                </div>
                <button id="submit" class="btn btn-secondary font-weight-bold">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>