{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<div class="container">

    <h1>SOMETHING BORROWED</h1>
    <h2>AND SOMETHING LENT</h2>
    <p>
        Finally, a web application for you to list items for lending or 
        borrowing items from people in the neighborhood!
    </p>
    <a href="/register">Join Us</a>

    <br />

    <h3>How it Works</h3>

    <div class="row">
        <div class="col-md-6">
            <h4>To Lend</h4>
            <li>Browse for item(s) to borrow</li>
            <li>Place a deposit</li>
            <li>Schedule a pick-up or drop-off based on location</li>
            <li>Make good use of the item and return it intacted!</li>
        </div>
        <div class="col-md-6">
            <h4>To Borrow</h4>
            <li>Browse for item(s) to borrow</li>
            <li>Place a deposit</li>
            <li>Schedule a pick-up or drop-off based on location</li>
            <li>Make good use of the item and return it intacted!</li>
        </div>
    </div>

    <h3>See what everyone is talking about us:</h3>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
        </div>
    </div>

</div>