<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Borrowed</title>
    <style>
        body {
            text-align: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        h1 {
            color: blue;
            font-size: 65px;
            font-style: oblique;
        }

        h2 {
            font-size: 35px;
            font-style: italic
        }

        h3 {
            font-size: 60px;

        }

        p {
            margin: 55px;
            font-size: 30px;
        }

        .benefits {
                {
                    {
                     !-- -webkit-column-count: 2;
                    --
                }
            }

            /* Chrome, Safari, Opera */
                {
                    {
                     !-- -moz-column-count: 2;
                    --
                }
            }

            /* Firefox */
                {
                    {
                     !-- column-count: 2;
                    --
                }
            }

            list-style-type: none;

        }

        .list-lend {
            text-align: center;
            color: red;
        }

        footer {
            margin: 100px;

        }
    </style>
</head>

<body>
    <h1>SOMETHING BORROWED</h1>
    <h2>AND SOMETHING LENT </h2>
    <p>Finally, a web application for you to list items for lending
        or borrowing
        items from people
        in the neighborhood</p>
    <h3>Join Us</h3>
    <p>How it Works</p>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="benefits">
                    To Lend
                    <li>To Borrow</li>
                    <li>1)Browse for item(s) to borrow</li>
                    <li>2)Place a deposit</li>
                    <li>3)Schedule a pick-up or drop-off based on location</li>
                    <li>4)Make good use of the item and return it intacted!</li>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="benefits">
                            To Lend
                            <li>To Borrow</li>
                            <li>1)Browse for item(s) to borrow</li>
                            <li>2)Place a deposit</li>
                            <li>3)Schedule a pick-up or drop-off based on location</li>
                            <li>4)Make good use of the item and return it intacted!</li>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <p><i class="fab fa-facebook-square"></i></p>
        </div>
        <footer>Something Borrowed &copy; 2019 All Rights Reserved</footer>
</body>

</html>



<div class="benefits">