{{!-- BOOTSTRAP CLEANED UP --}}

{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/home.css">

{{!-- Navbar --}}
<div id="background"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<div class="container">
    <div class="row">
        <div class="col-md-12" id="logo-text1">
            <h1>SOMETHING BORROWED</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="logo-text2">
            <h1>AND SOMETHING LENT</h1>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6 m-auto">
            <p>
                Finally, a web application for you to list items for lending or
                borrowing items from people in the neighborhood!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><a class="reg1" href="/register">Join Us!</a></h3>
        </div>
    </div>
    <div class="text animated rubberBand" href="/register">
        <h3><a class="reg1" href="/register">Join Us!</a></h3>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12 mt-3 mb-3">
            <h2 class="reg">How It Works:</h2>
        </div>
    </div>

    <div class="row d-flex justify-content-md-center reg">
        <div class="col-md-4">
            <h4>To Lend</h4>
            <li>Browse for item(s) to borrow</li>
            <li>Place a deposit</li>
            <li>Schedule a pick-up or drop-off based on location</li>
            <li>Make good use of the item and return it intacted!</li>
        </div>
        <div class="col-md-4">
            <h4>To Borrow</h4>
            <li>Browse for item(s) to borrow</li>
            <li>Place a deposit</li>
            <li>Schedule a pick-up or drop-off based on location</li>
            <li>Make good use of the item and return it intacted!</li>
        </div>
    </div>

    <br />

    <div class="row reg">
        <div class="col-md-12 mt-3 mb-3">
            <h2>Find Us Here:</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-md-center">
        <div class="col-md-12">
            <h5>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-google-play"></i></a>
                <a href="#"><i class="fab fa-app-store-ios"></i></a>
            </h5>
        </div>
    </div>

</div>