<h1>LENDING</h1>
<p>List items(s) you would like to share.</p>
<button onclick="goBack()">Back to Results</button>
<br>
<div class="container">
    <h2>Item Name</h2>
    <br>
    <button type="button" class="btn btn-primary btn-sm">Edit</button>
    <button type="button" class="btn btn-primary btn-sm">Delete</button><span
        class="glyphicon glyphicon-question-sign"></span>
    <br>
    <h3>Item Details:</h3>
    <ul class="no bull list-group list-group-flush" style="list-style: none;">
        <li class="list-group-item">Item Category:</li>
        <li class="list-group-item">Item Name:</li>
        <li class="list-group-item">Amount:</li>
        <li class="list-group-item">Description:</li>
        <li class="list-group-item">Dates Listed:</li>
        <li class="list-group-item">Days Available:</li>
        <li class="list-group-item">Status:</li>

    </ul>

    </br>

</div>