{{!-- Custom CSS Stylesheets --}}
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/browse.css">

{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboards">My Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/lending">Lending<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/borrowing">Borrowing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Content --}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>LENDING</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>List item(s) you would like to share.</h3>
        </div>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="item-container">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                <th>#</th>
                <th>Category</th>
                <th>Item's Name</th>
                <th>#Borrow Days</th>
                <th>Description</th>
                <th>Delete</th>
                <th>Update</th>
                </tr>
            </thead>
            <tbody>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-link" data-toggle="collapse" href="#addItem">ADD ITEM(S)</button>
        </div>
    </div>
    <br />
    <form class="collapse" id="addItem">
        <div class="form-row">
            <div class="col-2">
                <select class="form-control" id="categoryInput">
                <option value="">Category</option>
                <option value="Tools">Tools</option>
                <option value="Appliances">Appliances</option>
                <option value="Furniture">Furniture</option>
                <option value="Decor">Decor</option>
                <option value="Electrical">Electrical</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Bathroom">Bathroom</option>
                <option value="Heating">Heating</option>
                <option value="Outdoor">Outdoor</option>
                <option value="Storage">Storage</option>
                <option value="Other">Other</option>
                </select>
            </div>
            <div class="col-3">
                <input name="name" id="nameInput" class="form-control" type="text" placeholder="Item(s) Name">
            </div>
            <div class="col-2">
                <select class="form-control" id="borrow_days">
                <option value="">#Borrow Days</option>
                <option value="7">7 days</option>
                <option value="10">10 days</option>
                <option value="14">14 days</option>
                <option value="30">30 days</option>
                <option value="60">60 days</option>
                </select>
            </div>
            <div class="col">
                <input name="description" id="descriptionInput" class="form-control" type="text" placeholder="Description">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12" style="text-align:right;margin-top:5px">
                <button type="submit" id="Submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
        <div class="row" id="confirmDiv">
            <div class="col-md-12"></div>
        </div>

        </div>
    </form>
    <br />
    </tbody>
    </table>
    </div>
    </div>
    </div>

</div>
<script
  src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>
<script>
    $("#addItem").submit(handleItemFormSubmit);
    $(document).on("click", ".delete-item", handleDeleteButtonPress);
    $(document).on("click", ".update-item", updateItem);
    let nameInput = $("#nameInput").val();
    let category = $("#categoryInput").val();
    let borrow_days = $("#borrow_days").val();
    let description = $("#descriptionInput").val();
    let itemList = $("tbody");
    let itemContainer = $(".item-container");
    
    getItems();
          
    // A function to handle what happens when the form is submitted to create a new Item
    function handleItemFormSubmit(event) {
        event.preventDefault();
              // Don't do anything if the name fields hasn't been filled out
              if (!$("#nameInput").val().trim().trim()) {
                return;
              }
              // Calling the upsertItem function and passing in the value of the name input
              upsertItem({
                name: $("#nameInput").val().trim(),
                category: $("#categoryInput").val().trim(),
                borrow_days: $("#borrow_days").val().trim(),
                description: $("#descriptionInput").val().trim()
              });
                var confirmDiv = $("<p>");
                confirmDiv.append($("#nameInput").val().trim() + " was listed successfully!");
                $("#confirmDiv").append(confirmDiv);
            }
          
            // A function for creating an author. Calls getAuthors upon completion
            function upsertItem(itemData) {
              $.post("/api/lending", itemData)
                .then(getItems);
                $("#confirmDiv").empty();
            }
          
            // Function for creating a new list row for authors
            function createItemRow(itemData) {
              var newTr = $("<tr>");
              newTr.data("item", itemData);
              newTr.append("<td>" + itemData.id + "</td>");
              newTr.append("<td>" + itemData.category + "</td>");
              newTr.append("<td>" + itemData.name + "</td>");
              newTr.append("<td>" + itemData.borrow_days + "</td>");
              newTr.append("<td>" + itemData.description + "</td>");
            //   newTr.append("<td><a href='/dashboard?item_id=" + itemData.id + "'>Go to Items</a></td>");
            //   newTr.append("<td><a href='/lending?item_id=" + itemData.id + "'>Create an Item</a></td>");
              newTr.append("<td><button class='delete-item' id='deleteBtn'>Delete</button></td>");
              newTr.append("<td><button class='update-item' id='updateBtn'>Update</button></td>");
              return newTr;
            }
          
            // Function for retrieving items and getting them ready to be rendered to the page
            function getItems() {
              $.get("/api/lending", function(data) {
                var rowsToAdd = [];
                for (var i = 0; i < data.length; i++) {
                  rowsToAdd.push(createItemRow(data[i]));
                }
                renderItemList(rowsToAdd);
                $("#nameInput").val("");
                $("#categoryInput").val("");
                $("#borrow_days").val("");
                $("#descriptionInput").val("");
              });
            }
          
            // A function for rendering the list of items to the page
            function renderItemList(rows) {
              itemList.children().not(":last").remove();
              itemContainer.children(".alert").remove();
              if (rows.length) {
                console.log(rows);
                itemList.prepend(rows);
              }
              else {
                renderEmpty();
              }
            }
          
            // Function for handling what to render when there are no authors
            function renderEmpty() {
              var alertDiv = $("<div>");
              alertDiv.addClass("alert alert-danger");
              alertDiv.text("You must create an Item before you can submit.");
              itemContainer.append(alertDiv);
            }
          
        // Function for handling what happens when the delete button is pressed
        function handleDeleteButtonPress() {
            $("#confirmDiv").empty();
            console.log("deleting an item....");
              var listItemData = $(this).parent("td").parent("tr").data("item");
              console.log(listItemData);
              var id = listItemData.id;
              $.ajax({
                method: "DELETE",
                url: "/api/lending/" + id
              })
                .then(getItems);
                    var confirmDiv = $("<p>");
                    confirmDiv.append(listItemData.name + " was deleted.");
                    $("#confirmDiv").append(confirmDiv);
            }

        function updateItem(item) {
            $.ajax({
            method: "PUT",
            url: "/api/lending",
            data: item
        })
        .then(getItems);
  }
</script>