<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>LENDING</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>List item(s) you would like to share.</h3>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-link" data-toggle="collapse" href="#addItem">ADD ITEM(S)</button>
        </div>
    </div>
    <br />
    <form class="collapse" id="addItem">
        <div class="form-row">
            <div class="col-2">
                <input class="form-control" type="text" placeholder="Category">
            </div>
            <div class="col-4">
                <input class="form-control" type="text" placeholder="Item(s) Name">
            </div>
            <div class="col-1">
                <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                </select>
            </div>
            <div class="col">
                <input class="form-control" type="text" placeholder="Description">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-light">Submit</button>
            </div>
        </div>
    </form>

    <br />

    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

</div>