<h1>LENDING</h1>
<p>List items(s) you would like to share.</p>
<a class="btn btn-primary" href="#" role="button">Back to Results!</a>
<div class="container" <h2>ITEM NAME</h2>
    <p>Item Details:</p>
    <ul class="no bull list-group list-group-flush" style="list-style: none;">
        <li class="list-group-item">Item Category:</li>
        <li class="list-group-item">Item Name:</li>
        <li class="list-group-item">Amount:</li>
        <li class="list-group-item">Description:</li>
        <li class="list-group-item">Dates Listed:</li>
        <li class="list-group-item">Days Available:</li>
        <li class="list-group-item">Status:</li>

    </ul>

    </br>
    <button type="button" class="btn btn-secondary"> BORROW!</button>


    <p>Are you sure?</p>
    <input class="btn btn-primary" type="submit" value="Yes">
    <input class="btn btn-primary" type="submit" value="No">
    <p>Great! An email confirmation is sent to you.</p>
</div>