h1 {
  font-family: "Lato", sans-serif;
  color: #04bab5;
  text-shadow: 2px 2px #f2cc3d;
  -webkit-text-stroke: 1px black;
  font-size: 4vw;
  text-align: center;
}

h2 {
  font-family: "Laila", serif;
  color: #f2cc3d;

  -webkit-text-stroke: 1px black;
  font-size: xx-large;
}
.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #8d8c8c;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #5d5c5cd0;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card-title {
  font-family: "Laila", serif;
  color: black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

p {
  font-family: "Laila", serif;
  color: white;
}
.flash {
  animation-name: flash;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
.fab {
  font-size: larger;
}

@keyframes flash {
  from {
    color: #04bab5;
  }
  to {
    color: #f2cc3d;
  }
}
