/* Applied to: about.handlebars */
/* Applied to: contact.handlebars */

/* body {
  text-align: center;
  background: url("../images/background-pic.jpeg");
  background: (76, 175, 80, 0.1);
} */
/* body {
  background: url(../images/background-pic.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
} */

#navbarSupportedContent {
  font-family: "Amatic SC", cursive;
  background-color: #5d5c5c;
  color: white;
  border-color: white;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #04bab5;
  text-shadow: 2px 2px #f2cc3d;
  -webkit-text-stroke: 1px black;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: "Laila", serif;
  color: #f2cc3d;
  -webkit-text-stroke: 1px black;
  font-size: 30px;
}
.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #8d8c8c;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #5d5c5cd0;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.card-title {
  font-family: "Laila", serif;
  color: black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
