/* Applied to: borrowing.handlebars */
/* Applied to: lending.handlebars */

body {
  font-family: "Laila", serif;
  color: white !important;
}

h1 {
  font-family: "Lato", sans-serif;
  color: #04bab5;
  text-shadow: 2px 2px #f2cc3d;
  -webkit-text-stroke: 1px black;
  font-size: 4vw;
  text-align: center;
}
h2 {
  font-family: "Laila", serif;
  color: #f2cc3d;
  font-size: xx-large;
  -webkit-text-stroke: 1px black;
}
.btn {
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: x-large;
  background-color: #5d5c5c;
  float: right;
  transition: transform 0.2s;
}
.btn:hover {
  color: #04bab5;
  background-color: #ffcf02;
  transform: scale(1.2);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th {
  font-family: "Laila", serif;
  color: white !important;
  text-align: center !important;
  border: 1px solid #dddddd;
  padding: 8px;
}
tr {
  font-family: "Laila", serif;
  color: #333232 !important;
  background-color: #04bab5;
  opacity: 0.8;
}
tr:nth-child(even) {
  font-family: "Laila", serif;
  color: #333232 !important;
  background-color: #04bab5 !important;
  opacity: 0.8;
}

/* tbody {
  font-family: "Laila", serif;
  color: #333232 !important;
  background-color: #04bab5 !important;
  opacity: 0.8;
} */

.firstrow {
  background-color: #5d5c5c !important;
  opacity: 0.8;
}
#myInput {
  opacity: 0.9;
}
#myInput:active {
  border: none;
}
