/* Applied to: (all .handlebars pages */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    text-align: center;
    background-color: lightgrey;
    padding-top: 10px;
}

.navbar {
    margin-bottom: 30px;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}