body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* h1 {
    color: blue;
    font-size: 65px;
    font-style: oblique;
}

h2 {
    font-size: 35px;
    font-style: italic
}

h3 {
    font-size: 60px;

}

p {
    margin: 55px;
    font-size: 30px;
}

.list-lend {
    text-align: center;
    color: red;
} */

footer {
    text-align: center;
    margin: 100px;
}